<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Niya leo
  body
    header
      nav
        a(href="/") Niya leo
    
    main
      p.hero-text Flexible todo list and it lets you see what tasks you want to see. We don't like pressure, and we know you dont.
      button.conversion Get started