<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Niya leo
    link(rel="stylesheet", href="./css/main.css")
    style.
      
  body
    header.header
      nav.nav
        a.brand(href="/") Niya leo
    
    main.main
      p.hero-text Flexible todo list that lets you see what tasks you want to see. 
      p.sidenote We don't like pressure, and we know you dont.
      button.conversion(onclick="convert()") Get started

    script.
      function convert() {
        location.assign('./tasks.html')
      }
      
